<!doctype html>
<html>
    <head>
        <title>Edit Appointment</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>

        <h1>Edit Appointment</h1>

        <form method="POST">

            <label>Patient Name</Label><br>
                <input type="text" name="patient_name"
                value="{{ appointment[1] }}"><br><br>

            <label>Doctor Name</Label><br>
                <input type="text" name="doctor_name"
                value="{{ appointment[2] }}"><br><br>

            <label>Date</Label><br>
                <input type="date" name="date"
                value="{{ appointment[3] }}"><br><br>

            <label>Time</Label><br>
                <input type="time" name="time"
                value="{{ appointment[4] }}"><br><br>

            <label>Status</label><br>
                <select name="status">
                    <option value="Pending" {% if appointment[5] == 'Pending' %}selected{% endif %}>🟡 Pending</option>
                    <option value="Completed" {% if appointment[5] == 'Completed' %}selected{% endif %}>🟢 Completed</option>
                    <option value="Cancelled" {% if appointment[5] == 'Cancelled' %}selected{% endif %}>🔴 Cancelled</option>
                </select><br><br>

            <button type="submit">Update Appointment</button>
         </form>
    </body>
</html>
        
            