{% extends "base.html" %}

{% block title %}
Patients
{% endblock %}

{% block content %}

<h2>Patients List</h2>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="success-message">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<a href="/add_patient">
    <button>➕ Add New Patient</button>
</a>

<input type="text" id="searchInput" class="search-box" placeholder="🔍 Search Patient...">

<table class="patient-table" id="patientTable">
    <tr>
        <th>ID</th>
        <th>Photo</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Phone</th>
        <th>Disease</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>

    {% for patient in patients %}
    <tr>
        <td>{{ patient[0] }}</td>
        <td>
            {% if patient[6] %}
            <img src="{{ url_for('static', filename='uploads/' + patient[6]) }}"
             width="60" height="60"
             style="border-radius:50%; object-fit:cover;">
            {% else %}
            <img src="{{ url_for('static', filename='images/default.png') }}"
             width="60" height="60"
             style="border-radius:50%; object-fit:cover;">
            {% endif %}
        </td>
        <td>{{ patient[1] }}</td>
        <td>{{ patient[2] }}</td>
        <td>{{ patient[3] }}</td>
        <td>{{ patient[4] }}</td>
        <td>{{ patient[5] }}</td>

        <td>
            <a href="/edit_patient/{{ patient[0] }}">
                <button class="edit-btn">✏ Edit</button>
            </a>
        </td>

        <td>
        <a href="/delete_patient/{{ patient[0] }}"
            onclick="return confirm('Are you sure you want to delete this patient?')">
            <button class="delete-btn">🗑 Delete</button>
        </a>
        </td>
    </tr>

    {% endfor %}
</table>

<script>
document.getElementById("searchInput").addEventListener("keyup", function() {

    let filter = this.value.toLowerCase();

    let rows = document.querySelectorAll("#patientTable tr");

    for (let i = 1; i < rows.length; i++) {

        let text = rows[i].innerText.toLowerCase();

        if (text.includes(filter)) {
            rows[i].style.display = "";
        } else {
            rows[i].style.display = "none";
        }
    }

});
</script>

{% endblock %}